<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Alex Gabor</title>
    <link rel="stylesheet" href="static/root.css" type="text/css" />
    <meta name="theme-color" content="#fbf9f3" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="page-margins">
      <header>
        <h1><a href="/" style="all: unset">Alex Gabor</a></h1>
      </header>

      <div class="content">{{ content }}</div>
    </div>
  </body>
</html>
